.Album-root{
    max-width: 345px;
}
.Album-media{
    height: 0px;
    padding-top: 56.25%;
}
.Album-expand {
    transform: rotate(0deg);
    margin-left: auto!important;
}
.Album-expandOpen{
    transform: rotate(180deg);
}
.Album-center{
    text-align: center;
}