h1{
    font-size: 50px;
    text-align: center;
    margin: 0;
}
.InfoGroupeRock-text-left{
    text-align: left;
}
.InfoGroupeRock-text-justify{
    text-align: justify;
}
.InfoGroupeRock-root{
    width: 100%;
}
.InfoGroupeRock-color-violet{
    background-color: #711942!important;
}